!!! 5
%html{ :lang => "en"}
  %head
    %title= "Heroku Waza and Neo4j"
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    %meta{ :content => "An example application using Twitter and Neo4j", :name => "description" }
    %meta{ :content => "Max De Marzi", :name => "author" }
    %link{ :charset => "utf-8", :href => "/css/neoviva.css", :media => "screen", :rel => "stylesheet", :type => "text/css" }
    = include_gon
    %script{:src  => "/js/vivagraph.min.js", :type => "text/javascript"}
    %script{:src  => "/js/neoviva.js", :type => "text/javascript"}
  %body{:style => "background-color: black;", :onload => "onLoad()"}
    #content  
      = yield