.node {
    background-color: #00a2e8;
    width: 10px;
    height: 10px;
    position: absolute;
}
.link {
    background-color: #dddddd;
    position: absolute;
}

#graph1{
    position: absolute;
    width: 100%;
    height: 100%;
}